.popup__container {
    margin: 195px 425px 0 0;
    max-width: 430px;
    min-height: 330px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 320px) {
    .popup__container {
        margin: 123px 19px 0 0;
        max-width: 282px;
        min-height: 322px;
    }
}