.profile__info {
    margin: 22px 0 0 30px;
    min-width: 336px;
    min-height: 73px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 670px) {
    .profile__info {
        min-width: 280px;
    }
}

@media screen and (max-width: 510px) {
    .profile__info {
        margin: 22px 0 0 10px;
        min-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        margin: 0;
        padding: 0;
        min-width: 282px;
        min-height: 54px;
        gap: 0;
    }
}